<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Title
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/general_app/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/general_app/base.css' %}">

        <link rel="stylesheet" href="{% static 'css/general_app/menu_styles.css' %}">
        <script src="{% static 'js/menu-scripts.js' %}"></script>
        {% block links %}
            {# including menu_scripts and menu_css styles #}
        {% endblock %}
    </head>
    <body>
        {% block content %}
            {# Content #}
        {% endblock %}
    </body>
</html>
